@page
@model SignaPayProcessor.Pages_Transaction.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CardType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CardType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CardNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Transaction.TimeStamp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
