@page
@model SignaPayProcessor.Pages_Transaction.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label type="datetime-local" class="control-label">Time Stamp</label>
        </dt>
        <dd class="col-sm-10">
            @ViewData["TimeStamp"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CardType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CardType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CardNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.TimeStamp">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
