@page
@model SignaPayProcessor.Pages_Transaction.IndexModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="get">
    <p>
        <label for="SearchString">Search by CardNumber:</label>
        <input type="text" name="SearchString" value="@Model.SearchString" />
        <label for="CardType">Filter by CardType:</label>
        <select name="CardType">
            <option value="">All</option>
            <option value="Amex">Amex</option>
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
            <option value="Discover">Discover</option>
            <option value="Rejected">Rejected</option>
        </select>
        <label for="TransactionDate">Transaction Date:</label>
        <input type="date" name="TransactionDate" value="@Model.TransactionDate?.ToString("yyyy-MM-dd")" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                TimeStamp
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].CardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].CardNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transaction) {
        <tr>
             <td>
                @item.TimeStamp.ToString("yyyy-MM-dd HH:mm:ss")                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TimeStamp">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TimeStamp">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TimeStamp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
